<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<main>
		<div id="app">
			<header>
				<h1 class="header-style">f.i.l.m.</h1>
				<p class="header-style">&lt; films I'd like to manage &gt;</p>
				<span @click="browseFilms('main')">Home</span>
			</header>
			<div>
				<nav>
					<template>
						<span v-if="popularMoviesOnly" @click="browseFilms('browse')">
							All films
						</span>
						<span v-else @click="browseFilms('browse')">
							Popular films only
						</span>
					</template>
					<span v-if="!showFavs" class="favPage" @click="showFavsFilms()">My favourite films</span>
					<input
							type="text"
							v-model="searchMovie"
							placeholder="Search"
					>
					<ul v-if="searchMovie" id="searchField">
						<li v-for="(s, i) in seekName" @click="singleMovie(s.id)">
							{{ s.name }}
						</li>
					</ul>
				</nav>
				<div class="home-page" v-if="filmId === 0">
					<div class="movies-container">
						<div v-for="(m, i) in sortedMovies" :key="i + m.name" class="card">
							<div class="picture" @click="singleMovie(m.id)">
								<img :src="m.img">
							</div>
							<div class="description-box">
								<p class="film-title">Film: {{ m.name }}</p>
								<p class="director">Director(s): {{ m.director.join(', ') }}</p>
								<p class="rating">Rating: {{ m.rating.toFixed(1) }}</p>
								<ul class="genres">
									Genres:
									<li v-for="(g, j) in m.genres">
										{{ g }}
									</li>
								</ul>
							</div>
							<div class="favourite">
								<span
									v-if="!favs.includes(m.id)"
									@click="addFav(m.id)"
									title="Add to favs"
								>
									&#9734;
								</span>
								<span
									v-else-if="favs.includes(m.id)"
									@click="removeFav(m.id)"
									title="Remove from favs"
								>
									&#9733;
								</span>
							</div>
						</div>
					</div>
					<div class="pagination" v-if="!popularMoviesOnly">
						<div class="pagination-wrapper">
							<span class="pagination-arrow" @click="portion = portion - 6">&larr;</span>
							<span
								v-for="(a, i) in Math.ceil(filteredMovies.length / 6)"
								@click="portion = i * 6"
							>
								{{ i + 1 }}
							</span>
							<span class="pagination-arrow" @click="portion = portion + 6">&rarr;</span>
						</div>
					</div>
				</div>
				<div class="film-page" v-else-if="filmId && singleFilmObj">
					<div class="card">
						<div class="picture">
							<img :src="singleFilmObj.img">
						</div>
						<div class="description-box">
							<p class="film-title">Film: {{ singleFilmObj.name }}</p>
							<p class="director">Director(s): {{ singleFilmObj.director.join(', ') }}</p>
							<p class="rating">Rating: {{ singleFilmObj.rating.toFixed(1) }}</p>
						</div>
						<ul class="genres">
							Genres:
							<li v-for="(g, j) in singleFilmObj.genres">
								{{ g }}
							</li>
						</ul>

						<div class="favourite">
							<template>
								<span
									v-if="!favs.includes(singleFilmObj.id)"
									@click="addFav(singleFilmObj.id)"
									title="Add to favs"
								>
									&#9734;
								</span>
								<span
									v-else-if="favs.includes(singleFilmObj.id)"
									@click="removeFav(singleFilmObj.id)"
									title="Remove from favs"
								>
									&#9733;
								</span>
							</template>
						</div>

						<div class="relatives">
							<div class="rel-card"
								v-for="(r, i) in relativeFilms"
							>
								<img :src="r.img">
								<p>{{ r.name }}</p>
							</div>
						</div>
					</div>
				</div>
				<aside>
					<span
							v-for="(g, i) in genres"
							@click="pickGenre(g)"
							:class="filterGenres.includes(g) ? 'highlighted' : ''"
					>
						{{ g }}
					</span>
				</aside>
			</div>
		</div>
	</main>
	<footer>
		&copy;
	</footer>
	<script src="script.js"></script>
</body>
</html>