<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Films I'd like to manage</title>
	<link rel="icon" type="image/png" href="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678064-star-512.png">
	<link rel="stylesheet" href="css/style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<main>
		<div id="app">
			<header>
				<h1 class="header-style">f.i.l.m.</h1>
				<p class="header-style">&lt; films I'd like to manage &gt;</p>
				<span @click="browseFilms('main')">Home</span>
			</header>
			<div>
				<nav>
					<template>
						<span v-if="popularMoviesOnly" @click="browseFilms('browse')">
							All films
						</span>
						<span v-else @click="browseFilms('browse')">
							Popular films only
						</span>
					</template>
					<span v-if="!showFavs" class="favPage" @click="showFavsFilms()">My favourite films</span>
					<input
						type="text"
						v-model="searchMovie"
						placeholder="Search"
					>
					<ul v-if="searchMovie" id="searchField">
						<li v-for="(s, i) in seekName" @click="singleMovie(s.id)">
							{{ s.name }}
						</li>
					</ul>
				</nav>
				<div class="home-page" v-if="filmId === 0">
					<div class="movies-container">
						<div v-for="(m, i) in sortedMovies" :key="i + m.name" class="card">
							<div class="picture" @click="singleMovie(m.id)">
								<img :src="m.img">
								<div class="favourite">
									<span
											v-if="!favs.includes(m.id)"
											@click.stop="addFav(m.id)"
											title="Add to favs"
									>
										&#9734;
									</span>
										<span
											v-else-if="favs.includes(m.id)"
											@click.stop="removeFav(m.id)"
											title="Remove from favs"
										>
										&#9733;
									</span>
								</div>
							</div>
							<div class="description-box">
								<p class="film-title">Film: {{ m.name }}</p>
								<p class="director">Director(s): {{ m.director.join(', ') }}</p>
								<p class="rating">Rating: {{ m.rating.toFixed(1) }}</p>
								<ul class="genres">
									Genres:
									<li
										v-for="(g, j) in m.genres"
										@click="pickGenre(g)"
									>
										{{ g }}
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="pagination" v-if="!popularMoviesOnly">
						<div class="pagination-wrapper">
							<span class="pagination-arrow" @click="pageArrow('left')">&larr;</span>
							<span
								v-for="(a, i) in Math.ceil(filteredMovies.length / 6)"
								@click="portion = i * 6"
							>
								{{ i + 1 }}
							</span>
							<span class="pagination-arrow" @click="pageArrow('right')">&rarr;</span>
						</div>
					</div>
				</div>
				<div class="film-page" v-else-if="filmId && singleFilmObj">
					<div class="card">
						<div class="picture">
							<img :src="singleFilmObj.img">
							<div class="favourite">
								<template>
									<span
											v-if="!favs.includes(singleFilmObj.id)"
											@click.stop="addFav(singleFilmObj.id)"
											title="Add to favs"
									>
										&#9734;
									</span>
									<span
											v-else-if="favs.includes(singleFilmObj.id)"
											@click.stop="removeFav(singleFilmObj.id)"
											title="Remove from favs"
									>
										&#9733;
									</span>
								</template>
							</div>
						</div>
						<div class="description-box">
							<p class="film-title">Film: {{ singleFilmObj.name }}</p>
							<p class="director">Director(s): {{ singleFilmObj.director.join(', ') }}</p>
							<p class="rating">Rating: {{ singleFilmObj.rating.toFixed(1) }}</p>
						</div>
						<ul class="genres">
							Genres:
							<li v-for="(g, j) in singleFilmObj.genres">
								{{ g }}
							</li>
						</ul>
					</div>
					<div class="relatives">
						<p>Related films:</p>
						<template v-if="relativeFilms">
							<div class="rel-card"
								 v-for="(r, i) in relativeFilms"
								 @click="singleMovie(r.id)"
							>
								<img :src="r.img">
								<p>{{ r.name }}</p>
							</div>
						</template>
						<template v-else>
							<span class="no-related">No related films unfortunately</span>
						</template>
					</div>
				</div>
				<aside>
					<span
						v-for="(g, i) in genres"
						@click="pickGenre(g)"
						:class="filterGenres.includes(g) ? 'highlighted' : ''"
					>
						{{ g }}
					</span>
				</aside>
			</div>
		</div>
	</main>
	<footer>
		<span>&copy;</span><a href="https://www.linkedin.com/in/kozulenkodmytro/" target="_blank">kozulenko_d</a>
	</footer>
	<script src="script/script.js"></script>
</body>
</html>