* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif; }
  *:focus {
    outline: none; }

html, body {
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  color: #eee;
  background-color: midnightblue; }

ul {
  display: inline-block; }

li {
  list-style-type: none;
  cursor: pointer;
  margin: 4px; }
  li:hover {
    color: lightpink;
    text-decoration: underline; }

header {
  text-align: center;
  margin-bottom: 24px;
  position: relative; }
  header span {
    position: absolute;
    cursor: pointer;
    font-size: 24px;
    text-transform: uppercase;
    left: 0;
    top: 34%; }

main {
  width: 80%;
  flex: 1 0 auto;
  margin: 0 auto; }

footer {
  flex-shrink: 0;
  padding: 8px 10%;
  background: navy; }

h1 {
  text-transform: capitalize;
  margin: 24px 0; }

nav {
  width: 100%;
  background-color: darkmagenta;
  padding: 8px;
  position: relative; }
  nav span {
    cursor: pointer;
    display: inline-block;
    padding: 4px 12px;
    border: 1px solid #ddd;
    border-radius: 4px; }
  nav .favPage {
    margin-left: 8px; }
  nav input {
    position: absolute;
    background-color: transparent;
    right: 8px;
    top: 8px;
    bottom: 8px;
    color: #eee;
    padding: 4px 8px; }
    nav input::placeholder {
      color: #eee;
      opacity: .86; }

.home-page, .film-page {
  width: 74%;
  display: inline-block; }

.pagination {
  text-align: center;
  margin-bottom: 16px; }
  .pagination .pagination-wrapper {
    display: inline-block;
    position: relative; }
    .pagination .pagination-wrapper .pagination-arrow {
      position: relative;
      top: 2px;
      font-size: 32px; }
  .pagination span {
    margin: 0 8px;
    display: inline-block;
    cursor: pointer; }

.movies-container::after {
  display: block;
  clear: both;
  content: ''; }

.home-page .card {
  width: 32%;
  height: 500px;
  float: left;
  padding: 8px;
  position: relative; }
  .home-page .card .picture {
    display: block;
    cursor: pointer; }
    .home-page .card .picture img {
      width: 90%;
      display: block;
      float: left; }
  .home-page .card p {
    padding: 4px 0; }
  .home-page .card .favourite span {
    position: absolute;
    font-size: 24px;
    right: 12px;
    top: 4px;
    color: gold; }
    .home-page .card .favourite span:hover {
      cursor: pointer; }

.film-page .card {
  width: 90%;
  height: 500px;
  padding: 16px; }
  .film-page .card .picture {
    float: left;
    width: 50%; }
    .film-page .card .picture img {
      width: 90%;
      display: block;
      float: left; }
  .film-page .card .description-box {
    width: 49%;
    display: inline-block; }
  .film-page .card p, .film-page .card ul {
    margin: 8px 4px; }
  .film-page .card .favourite {
    position: relative; }
    .film-page .card .favourite span {
      position: absolute;
      font-size: 24px;
      right: 12px;
      top: -44px;
      color: gold; }
      .film-page .card .favourite span:hover {
        cursor: pointer; }
  .film-page .card .relatives {
    height: 200px; }
    .film-page .card .relatives .rel-card {
      float: left;
      margin: 8px;
      width: 100px; }
      .film-page .card .relatives .rel-card img {
        width: 100%; }
      .film-page .card .relatives .rel-card p {
        margin-top: 4px; }

aside {
  padding-top: 8px;
  float: right;
  width: 24%;
  height: 100px; }
  aside span {
    font-size: 12px;
    float: right;
    padding: 8px;
    margin: 4px;
    border: 1px solid #eee;
    border-radius: 16px; }
    aside span:hover {
      background-color: #eee;
      border-color: midnightblue;
      color: midnightblue;
      cursor: pointer; }
    aside span.highlighted {
      background-color: goldenrod;
      color: #111;
      border-color: #111; }

#searchField {
  position: absolute;
  font-size: 11px;
  background: darkmagenta;
  z-index: 100;
  right: 8px;
  top: 100%; }
  #searchField li {
    padding: 8px;
    width: 140px;
    margin: 0;
    border-bottom: 1px solid darkmagenta;
    border-top: 1px solid darkmagenta; }
    #searchField li:hover {
      border-color: #111; }
